<app-canvas [width]="this.canvasWidth" [heigth]="this.canvasHeigth">

  <svg:rect [attr.x]="this.rectangle.getX()"
            [attr.y]="this.rectangle.getY()"
            [attr.width]="this.rectangle.getWidth()"
            [attr.height]="this.rectangle.getHeigth()"
            fill="white"
            stroke="black"
            fill-opacity="0.2"
            stroke-opacity="1"></rect>


      <svg:text [attr.x]="this.rectangle.x1" [attr.y]="this.rectangle.y1" class="small">100</svg:text>
</app-canvas>



