<app-canvas [width]="this.canvasWidth" [heigth]="this.canvasHeigth">

  <!--[attr.x]="rectangle.getX()"
            [attr.y]="rectangle.getY()"
            [attr.width]="rectangle.getWidth()"
            [attr.height]="rectangle.getHeight()"-->
  <svg:rect [attr.x]="this.rectangle.getX()"
            [attr.y]="this.rectangle.getY()"
            [attr.width]="this.rectangle.getWidth()"
            [attr.height]="this.rectangle.getHeigth()"
            fill="white"
            stroke="black"
            fill-opacity="0.2"
            stroke-opacity="1"></rect>


      <svg:text [attr.x]="100" [attr.y]="100" class="small">100</svg:text>
      <!--<svg:text [attr.x]="rectangle.getX()" [attr.y]="rectangle.getY()" class="small">{{this.t()}}</svg:text>-->


</app-canvas>



